nodes.json
{
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "=Get names of products used in this article and the search for them on amazon the return the links for each product.\nThe article:\n {{ $json.content }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          -140,
          -540
        ],
        "id": "97b9ea86-0f05-4ae9-a93e-eaa04ed8feb6",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "google/gemini-2.0-pro-exp-02-05:free",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -120,
          -360
        ],
        "id": "68fd4986-3664-4d48-a1a2-0f6caa67ae46",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "E356nnoy2hj7FVz9",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "keywords": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Keywords', ``, 'string') }}"
        },
        "type": "@henkey/n8n-nodes-amazon-paapi.amazonPATools",
        "typeVersion": 1,
        "position": [
          220,
          -400
        ],
        "id": "1e4445c9-abc7-433d-b5a0-888485bfd3c5",
        "name": "Amazon Product Search",
        "credentials": {
          "amazonPaApi": {
            "id": "PRjdGXV2Wc1rRWw9",
            "name": "Amazon PA account 2"
          }
        }
      },
      {
        "parameters": {
          "name": "get_links"
        },
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.1,
        "position": [
          260,
          -580
        ],
        "id": "770f6578-bf07-461e-80fe-ba69af8e791c",
        "name": "Code Tool"
      }
    ],
    "connections": {
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Amazon Product Search": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Code Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "6d8c5b10c162af8ed177cf04f1753d9e879f0ab6d8c3fea77b029eb4bd8d00a6"
    }
  }


  